/* last updated: 2016-09-04 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("zhihu.com") {
  .zg-wrap {
    width: 80vw !important;
  }
  body {
    padding: 0 !important;
  }
  a {
    text-decoration: none !important;
  }
  .zu-top {
    background: #0767c8 !important;
    position: initial !important;
  }
  .zu-top-add-question {
    background: #0e78e7 !important;
  }
  .zg-btn-follow {
    background: #8ab923 !important;
  }
  .bio::before {
    content: "\00a0\00a0\00a0\00a0" !important;
  }
  .zu-top-search-input {
    background-color: #ffffff !important;
  }
  i,
  .zu-top-search-button,
  #zh-top-link-logo,
  .feed-source,
  .zh-backtotop,
  .zm-item-vote-info,
  .zm-item-vote,
  .zm-votebar,
  .zm-list-avatar,
  .avatar,
  .zh-footer,
  .zh-question-followers-sidebar,
  .zm-side-section,
  #zh-question-meta-wrap,
  .comment-app-holder a,
  .comment-app-holder span,
  .comment-app-holder > div > div:last-child,
  .personal,
  .zu-main-sidebar,
  .HomeEntry,
  .zh-summary img,
  .actioncard,
  .icon-badge,
  .Avatar,
  .badge-summary,
  .secondary,
  .OrgIcon,
  #zh-home-list-title,
  .member-profile-card-pm {
    display: none !important;
  }
  #zh-load-more {
    visibility: hidden !important;
  }
  .goog-scrollfloater-floating {
    top: 0 !important;
  }
  #top-nav-profile-dropdown a {
    text-indent: 2em;
  }
  .operation button {
    margin: 15px !important;
  }
  .zu-top-nav-li.current {
    background: #075fb6 !important;
  }
  div,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  span,
  .zu-top-nav-li.current,
  input {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .feed-main {
    margin: 0 !important;
  }
  .zh-profile-card .upper,
  .zh-answers-title,
  .zm-item-answer {
    padding: 0 !important;
  }
  .zu-main-content-inner,
  #zh-load-more,
  .comment-app-holder div {
    margin: 0 !important;
    padding: 0 !important;
  }
  .comment-app-holder {
    max-width: initial !important;
  }
  .zm-meta-panel {
    padding: 15px 0 !important;
  }
}
